<!-- #Notification when user receives a proposal from a worker -->

<h3>Task</h3>

<p>
  Hola, alguien no esta de acuerdo con su tarea.
</p>

<p>
 	Comentario:	<%= @comment %>
</p>

<p>
	ID DEL SALON  <%= @classroom %>
</p>

<p>
	CLAVE: <%= @open_pay_user_id %>
</p>

 <p>
 	Saludos.

 	Task 2018.
 </p>