<h3>Task</h3>

<p>
  Hola, el estudiante ha estado de acuerdo con tus trabajos entregados
</p>


<p>
 	Recibirás el dinero acordado en tu propuesta el dia de paga.
</p>

<p>
	FELICIDADES !!!
</p>

<%= link_to  "Ir al salon" , classroom_url(@classroom.id) %>

 <p>
 	Saludos.

 	Task 2018.
 </p>