<!-- #Notification when user receives a proposal from a worker -->

<h3>Task</h3>

<p>
  Hola, alguien a subido una propuesta a una de tus tareas
</p>


<h4>
	Tarea: <%= @homework.name %>
</h4>

<p></p>


<p> Da click en el siguiente link para poder ver la propuesta.</p>


<%= link_to  "Ver la propuesta" , proposal_url(@proposal.id) %>


 <p>
 	Saludos.

 	Task 2018.
 </p>