<h3>TASK</h3>

<h3>
  Hola <%= @trabajador.name %>
</h3>

<p> Ya se ha programado tu pago semanal, tu pago debe estar llegando en 24 horas. </p>

<p> Pago: <%= @pago %> </p>

<p>Si no es así favor de mandar un correo a contacto@taskhomework.com con el asunto "pago semanal"</p>

<p>Gracias por elegir TASK</p>

<p>
	Saludos.

	Task 2018.
</p>
