<h3>TASK</h3>

<h3>
  Hola <%= @user.name %>
</h3>

<h4>
  Correo: <%= @user.email %>
</h4>

<p> Este correo es para informarte que el trabajo para la tarea <%= @homework.name %> </p>
<p> No fue entregado en el tiempo acordado, por tal motivo ya programamos tu reembolso del precio acordado.</p>

<p> En Task nos precupamos por su experiencia con la plataforma.</p>

<p>Si tienes algun comentario o sugerencia por favor envianos
  un correo a contacto@taskhomework.com</p>

<p>
	Saludos.

	Task 2018.
</p>
