<h3>TASK</h3>

<h3>
  Hola <%= @user.name %>
</h3>

<h4> Bienvenido a Task ! </h4>

<p> Ahora puedes crear tareas.</p>
<p> Actualmente contamos con 3 materias de tronco común: </p>
<ul>
  <li>Español</li>
  <p>Ensayos, resumenes, etc. </p>
  <li>Matemáticas</li>
  <p>Precalculo, Calculo 1, Calculo 2, Trigonometría, Algebra, etc</p>
  <li>Ingles</li>
  <p>Trabajos en ingles, ejercicios, frases, ensayos en ingles, resumenes en ingles ,etc</p>
  <li>Química</li>
  <p>Tareas, ejercicios, etc.</p>
</ul>

<p>Al aceptar una propuesta se le sumara la comisión de paypal que es 4% del costo más 4 pesos mexicanos.</p>

<p> Con el tiempo seguiremos agregando más materias conforme la demanda crezca. </p>

<p> Cualquier problema, duda o sugerencia no dudes en enviar un correo a contacto@taskhomework.com </p>

<p>Por favor, registrarse con un correo que este conectado a una cuenta PayPal por si se llegará a requerir un reembolso.</p>


<h4>Algunas puntos que debe tener en mente</h4>
<ul>
  <li>Si usted no esta deacuerdo con alguna tarea que se le haya entregado,
    el equipo de task verificará dicha tarea y evaluará si procede con el reembolso o no.
  Los aspectos que evaluamos son que la tarea cumpla en su mayoría con las especificaciones
  hechas por el estudiante y que a grandes rasgos sea una buena tarea.</li>

  <li>Al momento de elegir una propuesta ya no puedes cambiarla y tampoco exigir un reembolso en el tiempo de entrega,
  ya que task cuida de ambas partes la comodidad y felicidad de los usuarios. </li>

  <li>En la plataforma tenemos notificaciones via correo por tal motivo recomendamos
    verificar si escribió bien su correo. Las notificaciones son de: envio de propuestas a tus tareas,
  cuando suben archivos a los salones y cuando finalizan tu tarea.</li>
</ul>

<p>
	Saludos.

	Task 2018.
</p>
