<h3>TASK</h3>

<h3>
  Hola <%= @worker.name %>
</h3>

<h4> Bienvenido a Task !</h4>

<p> Ahora eres un tasker, puedes subir propuestas a las tareas que mas te interen.</p>
<p> Actualmente contamos con 3 materias de tronco común: </p>
<ul>
  <li>Español</li>
  <p>Ensayos, resumenes, etc</p>
  <li>Matemáticas</li>
  <p>Precalculo, Calculo 1, Calculo 2, Trigonometría, Algebra, etc</p>
  <li>Ingles</li>
  <p>Trabajos en ingles, ejercicios, frases, examenes, ensayos en ingles, resumenes en ingles ,etc</p>
</ul>

<p>
  Buscamos que el trato a los estudiantes sea de lo mejor, por tal motivo:
  Si su ranking global baja a menos de 3.5 se le dará baja inmediata en la plataforma.
</p>

<p>El proceso de cobro y comisiones funciona de la siguiente manera:</p>
<br>
<p>El tasker ve las tareas que le interesen, sube una propuesta para dicha tarea,
  y si es elegida, en ese instante se le hace el cobro al estudiante y ese dinero se mantiene guardado,
  cuando el trabajador envia la tarea y el estudiante notifica que ya la recibió y esta de acuerdo con dicha tarea en ese instante ese
  dinero pasa a la cuenta del tasker. Este dinero que va generando se va acumulando y cada semana
   se hace el deposito a la cuenta del tasker que proporcionó al subir sus datos,
   menos la comisión de task que son 17.9% + $2.50.</p>

<p>Nuestras comisiones son mucho menores en comparación con otras plataformas y aplicaciones
  por ejemplo de taxis u otras diferentes.</p>


<h5>
  Recuerda que para trabajos escritos, el trabajo subido pasará por un algoritmo de detección de plagio, y si
  encuentra mas del 30% se regresará el trabajo con el porcentaje encontrado y deberá subir otro para bajar
  el porcentaje.
</h5>

<p> Cualquier problema, duda o sugerencia no dudes en enviar un correo a contacto@taskhomework.com </p>

<p>
	Saludos.

	Task 2018.
</p>
