<h3>Task</h3>

<p>
  Hola, te han mandando un mensaje de la tarea: <%= @homework.name %>
</p>

<p> Mensaje: <%= @message %> </p>

<%= link_to  "Ir al salon" , classroom_url(@classroom.id) %>

 <p>
 	Saludos.

 	Task 2018.
 </p>
