<!-- #Notification when user accepts a homework and notify the worker -->

<h3>Task</h3>

<h3>
  Hola, han subido un archivo a tu tarea <%= @homework.name %>
</h3>


<p> Da click en el siguiente link para ver el archivo subido. </p>


<%= link_to  "Ir al salon" , classroom_url(@classroom) %>


 <p>
 	Saludos.

 	Task 2018.
 </p>