<div class="row white">
  <div class="col s12 l5 white lighten-4">
    
    <%=render "partials/noticeToast" %>
    <div class="section"></div>

    <main>

        <center>


          <h5 class="indigo-text">Ya tengo cuenta de estudiante, inicia sesión</h5>

        </center>

        <div class="section"></div>

        <div class="center-align">
          <div class="z-depth-2 lighten-4 bottom15" style="display: inline-block; padding: 32px 60px 0px 60px; border: 1px solid #EEE;">

            <%= render "users/sessions/login" %>

          </div>
        </div>

    </main>

  </div>


  <div class="col s12 l7 lighten-4 full-heigth main-background"></div>



</div>
