<div id="modalToSelectProposal" class="modal">
  <div class="modal-content">
    <h4 class="">Seleccionando la propuesta</h4>
    <p>Espere un momento...</p>
    <center><%= render "partials/preloader" %></center>
  </div>
</div>
