<div id="modalToPlagiarism" class="modal">
  <div class="modal-content">
    <h4 class="">Aplicando algoritmo de plagio...</h4>
    <h4>Espere un momento...</h4>
    <p>Puede durar unos segundos, dependiendo el # de páginas.</p>
    <center><%= render "partials/preloader" %></center>
  </div>
</div>
