<!-- Este es el icono de preloader, y se manda a llamar cuando se hace una acción como buscar un estudiante, una vacante, una evaluación, etc. -->

<div class="preloaderDiv">
	<div class="preloader-wrapper small">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>