<!-- Parcial de notificacion de una propuesta a un usuario  -->

<li class="collection-item avatar">

      <i class="material-icons circle pink">free_breakfast</i>

      <span class="title"><%= link_to "El tasker #{notification.item.admin.name} ha subido una nueva propuesta a tu tarea: #{notification.item.homework.name}" , notification.item.homework , class:"black-text"  %></span>

      <p>Fecha: <%= fechaBonita notification.created_at %> </p>

      <%= link_to notification_path(id: notification.id,notification:{viewed: true}),method: :put, class:"secondary-content" do %>
      		<i>visto</i>
            <i class="material-icons">check</i>

      <% end %>


</li>
