%body.white-background

= render "partials/noticeToast"

=render 'partials/searchHomeworks'


= render "partials/preloader"

.row
	#data
		=render @homeworks



.row
	-if @homeworks.count == 0
		%center.top45
			%h5
				="No hay tareas :("


%div#pagination.text-center
	= will_paginate @homeworks
