%body.white-background

= render "partials/noticeToast"


.row
	.col.s12
		%ul.tabs
			-if current_user
				%li.tab.col.s3
					%a{:href => "#test1", :class => ("active" if params[:active_tab] == 'homeworks_disponibles')} Por hacer
			%li.tab.col.s3
				%a{:href => "#test2",:class => ("active" if params[:active_tab] == 'homeworks_en_proceso' || !params[:active_tab])} En proceso
			%li.tab.col.s3
				%a{:href => "#test3",:class => ("active" if params[:active_tab] == 'homeworks_finalizadas')} Terminadas


-if current_user
	#test1.row
		/.col.s12.cards-container
		.row
			-if @homeworks_disponibles
				=render @homeworks_disponibles

			-if current_user && @homeworks_disponibles.count <= 0
				%center.top45
					%h5
						="No has creado tareas nuevas"
		-if @homeworks_disponibles
			%center
				= will_paginate @homeworks_disponibles, param_name:'homeworks_disponibles',params: {active_tab: 'homeworks_disponibles'}



#test2.row
	/row
	.row
		-if @homeworks_en_proceso
			=render @homeworks_en_proceso

		-if @homeworks_en_proceso.count <= 0
			%center.top45
				%h5
					="No tienes tareas en proceso"
	%center
		= will_paginate @homeworks_en_proceso, param_name:'homeworks_en_proceso',params: {active_tab: 'homeworks_en_proceso'}




#test3.row
	.row
		-if @homeworks_finalizadas
			=render @homeworks_finalizadas

		-if @homeworks_finalizadas.count <= 0
			%center.top45
				%h5
					="No tienes ninguna tarea finalizada"

	%center
		= will_paginate @homeworks_finalizadas, param_name:'homeworks_finalizadas',params: {active_tab: 'homeworks_finalizadas'}
