%body.white-background

= render "partials/noticeToast"

.row
	.col.s12
		%ul.tabs
			%li.tab.col.s3
				%a{:href => "#test1"} Disponibles
			%li.tab.col.s3
				%a.active{:href => "#test2"} En proceso
			%li.tab.col.s3
				%a{:href => "#test3"} Terminadas


#test1.row
	-if @homeworks_disponibles
		=render @homeworks_disponibles

	-else
		-if current_user
			%center.top45
				%h5
					="No has creado tareas nuevas"

#test2.row
	-if @homeworks_en_proceso
		=render @homeworks_en_proceso

	-else
		%center.top45
			%h5
				="No tienes tareas en proceso"

#test3.row
	-if @homeworks_finalizadas
		=render @homeworks_finalizadas

	-else
		%center.top45
			%h5
				="No tienes ninguna tarea finalizada"



/ .row
/   =render @homeworks