.card.z-depth-2
  .card-content
    %span.card-title
      =link_to proposal.homework.name, proposal.homework

    %p.top15
      %b
        ="Notas:"
    = simple_format(proposal.notes)

    .parent-flex

      %div.top15
        %b
          ="Costo:"
        = proposal.cost

      %div.top15.left15
        %b
          ="Fecha de entrega:"
        = fechaBonita proposal.deadline

      -if proposal.status == 1 && proposal.homework.status == 1
        %div.top15.left15
          %b.blue-text
            ="En espera..."

      -if proposal.status == 1 && proposal.homework.status != 1
        %div.top15.left15
          %b.red-text
            ="No fuiste elegido"

      -if proposal.status == 2
        %div.top15.left15
          %b.green-text
            ="En proceso"

      -if proposal.status == 3
        %div.top15.left15
          %b.green-text
            ="Terminada"
