.card.z-depth-2
  .card-content
    %span.card-title
      =link_to proposal.homework.name, proposal.homework
    
    %p.top15
      %b
        ="Notas:"
    = simple_format(proposal.notes)

    .parent-flex

      %div.top15
        %b
          ="Costo:"
        = proposal.cost

      %div.top15.left15
        %b
          ="Fecha de entrega:"
        = fechaBonita proposal.deadline

      -if proposal.classroom
        %div.top15.left15
          %b.red-text
            ="Elegido!"







        