<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="white-background">

	<center class="top30"> <%=circle_img @user.avatar.url,150  %> </center>

	<center>
		<h4> <%=@user.name + " " + @user.firs_last_name + " " + @user.second_last_name %> </h4>
	</center>



	<div class="row center-align">
		<div class="col s10 l10 offset-l1 offset-s1 border-line opacity90"></div>
		<div class="col s10 l10 offset-l1 offset-s1 top15">

			<div class="row center-align">
		    <div class="col s12 l6">
		      <i class="material-icons medium centerObject pink-text">work</i>
          <p class="text-center lighter">Tareas:</p>
          <p class="text-center lighter"><%= @user.homeworks.count %></p>
		    </div>

		    <div class="col s12 l6">
		      <i class="material-icons medium centerObject pink-text">date_range</i>
          <p class="text-center lighter">Fecha de registro:</p>
          <p class="text-center lighter"><%= fechaBonita @user.created_at %></p>
		    </div>
		  </div>

		</div>
	</div>





</body>
</html>
