

#messages {
  max-height: 500px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}


.materialboxed{ display: inline-block !important; }


.popImage{
	overflow: hidden;
	justify-content:space-around;
}