
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body class="main-background">

  <%= render "partials/noticeToast" %>
  
</body>

<div class="row">

  <div class="col s0 l3 lighten-4 full-heigth"></div>


  <div class="col s6 l6 lighten-4 full-heigth">
  
    <main>

        <center class="">

          <h4 class="white-text">Task</h4>

          <h5 class="white-text">Registrate como estudiante</h5>
          
        </center>


        <div class="center-align">
          <div class="z-depth-2 lighten-4 width70 white shadow-5 borde_radius50 opacity90" style="display: inline-block; padding: 32px 60px 0px 60px; border: 1px solid #EEE;">

            <%= render "users/registrations/new" %>

            <div class="bottom15"></div>
          </div>

        </div>

    </main>

  </div>


  <div class="col s3 l3 lighten-4 full-heigth "></div>



</div>
